<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Iam in the AppComponent</h3>
            <hr>
            <app-servers></app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>
